.custom-notify {
  .ant-modal-body {
    padding: 13px 13px 40px;
    font-size: 14px;
    line-height: 1.5;
    word-wrap: break-word;
  }
  .custom-notify-body-wrapper {
    zoom: 1;
  }
  .custom-notify-body {
    text-align: center;
    .custom-notify-content {
      text-align: center;
    }
  }
  .anticon {
    margin: 27px 0;
    font-size: 40px;
  }
}

.custom-notify-error {
  .anticon {
    color: #f5222d;
  }
}
.custom-notify-success {
  .anticon {
    color: green;
  }
}
.custom-notify-warning {
  .anticon {
    color: yellow;
  }
}
.custom-notify-info {
  .anticon {
    color: #eee;
  }
}
