.test-enter {
  animation: fadeIn 10s cubic-bezier(0.55, 0, 0.55, 0.2) both;
}

.test-leave {
  animation: fadeOut 5s cubic-bezier(0.55, 0, 0.55, 0.2) both;
}

@keyframes fadeIn {
  0% {
    height: 0;
  }
  100% {
    height: 200px;
  }
}

@keyframes fadeOut {
  0% {
    height: 200px;
  }
  100% {
    height: 0;
  }
}
