.test-enter {
  animation: fadeIn 10s cubic-bezier(0.55, 0, 0.55, 0.2) both;
}

.test-leave {
  animation: fadeOut 5s cubic-bezier(0.55, 0, 0.55, 0.2) both;
}

@keyframes fadeIn {
  0% {
    width: 0;
  }
  100% {
    width: 200px;
  }
}

@keyframes fadeOut {
  0% {
    width: 200px;
  }
  100% {
    width: 0;
  }
}

.slide-enter {
  animation: slideIn .2s cubic-bezier(0.55, 0, 0.55, 0.2) both;
}
.slide-leave {
  animation: slideOut .2s cubic-bezier(0.55, 0, 0.55, 0.2) both;
}

@keyframes slideIn {
  0% {
    left: 200px;
  }
  100% {
    left: 0;
  }
}

@keyframes slideOut {
  0% {
    left: 0;
  }
  100% {
    left: -200px;
  }
}
