.basic-container {
  .left-layout {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    background: #b2d9c7;
  }
  .right-layout {
    margin-left: 200px;
    padding: 20px;
  }
}
